.jumbotron {
  background-color: rgb(56, 122, 243);
}
.navbar ul li{
    
  float: left;
  margin-left: 50px;
 
}
footer{
  background-color: black;
}
div#kep { 
  
  display: inline-block;
  margin: 5% 5% 5% 0 ;
}
div#kep img { 
  width: 250px;
  height: 200px;
  
}

/* #top_text{
  margin-bottom: 0;
}
.fakeimg {
  height: 200px;
  background: #aaa;
}

.fejlec_h{
  color: white;
}

.sarga{
  color: yellow;
} */